@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inicio navbar */

.navbar {
    background-color: rgb(162, 162, 207);
    height: 70px;
}
.navbar-collapse{
    display: flex;
    justify-content: end ; 
}

.navbar-brand {
    color: rgb(142, 142, 142) !important;
}

.nav-link {
    color: #fff !important;
    font-size: 20px;
}

.nav-link:hover {
    color: rgb(0, 0, 0) !important;
}

@media (max-width: 576px) {
    .navbar-brand img {
        max-height: 40px; 
        margin-top: -5px; 
    }
}
/* fin navbar */

/* inicio jumbotron */
.jumbotron {
    background-image: url('/multimedia/Atacama3.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px; 
    height: 700px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 576px) {
    .jumbotron {
        background-size: cover; 
        padding-top: 50px;
        padding-bottom: 50px; 
    }
}
.display-4 {
    text-align: center;
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(19, 10, 10, 0.5); 
}

/* fin jumbotron */