@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inicio navbar */

.navbar {
    background-color: rgb(162, 162, 207);
    height: 70px;
}
.navbar-collapse{
    display: flex;
    justify-content: end ; 
}

.navbar-brand {
    color: rgb(142, 142, 142) !important;
}

.nav-link {
    color: #fff !important;
    font-size: 20px;
}

.nav-link:hover {
    color: rgb(0, 0, 0) !important;
}

@media (max-width: 576px) {
    .navbar-brand img {
        max-height: 40px; 
        margin-top: -5px; 
    }
}
/* fin navbar */